{% layout "_include/layout.liquid" %}
{% block content %}
    {% if err %}
        <div class="text-center py-4 bg-rose-600 text-white text-2xl">{{ err }}</div>
    {% endif %}
    {% if success %}
        <div class="text-center py-4 bg-white text-2xl">Cập nhật dữ liệu thành công.</div>
    {% endif %}
    <div class="container mx-auto p-4 max-w-2xl">
        <div class="flex justify-between pt-2 border-b-2 border-gray-900 border-solid items-center">
            <div class="text-xl">Danh sách xe</div>
            <a class="px-4 py-2 bg-lime-700 text-white" href="{{ req.baseUrl }}/them">Thêm xe mới</a>
        </div>
        <div>
            <div id="search-container">
                <form
                    action=""
                    method="get"
                    class="flex">
                    <input
                        name="term"
                        type="search"
                        id="search-input"
                        class="flex-auto"
                        placeholder="Tìm kiếm"
                        value="{{ req.query.term }}"
                        autofocus
                        required>
                    <select
                        name="column"
                        id="column"
                        class="">
                        <option value="soxe"{% if req.query.terms == "phieu" %} selected{% endif %}>Số xe</option>
                        <option value="mauxe"{% if req.query.terms == "mauxe" %} selected{% endif %}>Mẫu xe</option>
                    </select>
                    <button type="submit" class="bg-black text-white py-2 px-4 ">Tìm kiếm</button>
                </form>
                {% if req.query.term %}
                <div class="bg-slate-100 px-4 py-2">
                    <a href="{{ req.baseUrl }}" class="text-sky-700 underline">Xoá bộ lọc tìm kiếm</a>
                </div>
                {% endif %}
            </div>
        </div>
        <table class="border-collapse border w-full text-center">
            <thead class="bg-gray-100 border-b border-gray-300 pt-4">
                <tr class="">
                    <th class="">Số xe</th>
                    <th class="">Mẫu xe</th>
                    <th class="">Hành động</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-300">
                {% for xe in danhsachxe %}
                    <tr class="hover:bg-slate-100">
                        <td>{{ xe.Soxe }}</td>
                        <td>{{ xe.Mauxe }}</td>
                        <td class="inline-flex rounded-md shadow-sm divide-x-2">
                            <a href="{{ req.baseUrl }}/detail/{{ xe.Soxe }}" class="bg-white px-4 py-2 hover:bg-gray-200 rounded-l-lg">Xem chi tiết</a>
                            <a href="{{ req.baseUrl }}/detail/{{ xe.Soxe }}" class="bg-white px-4 py-2 hover:bg-gray-200">Sửa</a>
                            <button onclick="promptDelete('{{ req.baseUrl }}/detail/{{ xe.Soxe}}/delete', '{{ xe.Soxe }} - {{ xe.Mauxe }}')" class="bg-white px-4 py-2 hover:bg-gray-200 rounded-r-lg">Xoá</button>
                        </td>
                    </tr>
                {% else %}
                    <tr class="bg-slate-100">
                        <td colspan="3">{{ "Không tìm thấy dữ liệu xe nào." }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% comment %} Chỉ phân trang khi đang không search {% endcomment %}
        {% if not req.query.term %}
        {% comment %} https://stackoverflow.com/a/27200972 {% endcomment %}
        {% liquid 
            # Tính xem trang hiện tại là trang bao nhiêu
            assign currentpage = req.query.page | default: 1 | plus: 0
            # Tính tổng số trang (Số kết quả / 5)
            assign totalpage = size |  divided_by: 10.0 | ceil
            # Tìm số trang nằm bên trái cùng, nếu nó bé hơn 1 thì gán nó = 1
            # Kiểu, nếu trang hiện tại là trang 2 thì không có tồn tại là trang 0, nên cứ gán nó là 1
            assign left = currentpage | minus: 2 | at_least: 1
            # Tìm số trang bằn bên phải cùng, nếu nó vượt quá số trang tối đa thì gán lại
            assign right = currentpage | plus: 2 |  at_most: totalpage
        %}
        <div class="pt-4 flex justify-between">
            <div id="table-status">Đang hiển thị {{ danhsachxe | size }}/{{ size }} tổng số xe</div>
            <div class="grid grid-flow-col">
                {% comment %} Nếu hiện tại có hiển thị số trang 1 thì khỏi in ra nút nhảy đến trang đầu {% endcomment %}
                {% if left != 1 %}
                    <a href="?page=1" class="p-1 bg-white mx-0 px-2 py-1">&#171;</a>
                {% endif %}
                {% comment %} Vòng lặp for in số trang {% endcomment %}
                {% for i in (left..right) %}
                <a href="?page={{ i }}" class="px-2 py-1 bg-white mx-0 block{% if i == currentpage %} border-b-4 border-slate-800 border-solid{% endif %}">{{ i }}</a>
                {% endfor %}
                {% comment %} Nếu hiện tại có hiển thị số trang cuối thì khỏi in ra nút nhảy đến trang cuối {% endcomment %}
                {% if right != totalpage %}
                    <a href="?page={{ totalpage }}" class="p-1 bg-white mx-0 px-2 py-1">&#187;</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}